*{
    margin: ;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    background:

}
header{
    width: 100%;
    position: ;
    top: 0;
    left: 0;
    background: #fff;

}

/*HEADER SUPERIOR*/

.header__superior{
    max-width: 1200px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    
}
 .logo img{
    width: 250px;
    height: 130px; 
   

 }
 .search input{
    width: 300px;
    padding: 10px;
 }
 /*BARRA MENU*/

 .container__menu{
    width: 100%;
    height: 70px;
    background: #023877;
    padding: 0px 20px;
 }
 .menu{
    max-width: 1200px;
    margin: auto;
    height: 100%;
 }
 nav{
    height: 100%;
 }
 nav > ul{
    height: 100%;
    display: flex;
 }
nav  ul  li{
    height: 100%;
    list-style: none;
    position: relative;
}
nav > ul > li:first-child > a{
    background-image: url(../img/home.png);
    background-size: 24px;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 20px 40px;
}
nav > ul > li:first-child:hover> a{
    background-image: url(../img/home.png);
    background-size: 24px;
    background-repeat: no-repeat;
    background-position: center center;
}

nav > ul > li > a{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 14px;
    color:white;
    text-transform: uppercase;
    font-size: 14px;
    transition: all 300ms ease;
    

}
nav > ul > li > a:hover{
    transform: scale(1.1);
    background: #0074c7;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
}
#selected{
    transform: scale(1.1);
    background-color:  #0074c7;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
}
/*SUBMENU*/
nav ul li ul  ul{ 
    width: 200px;
    display: flex;
    background:aqua ;
}

nav ul li ul{
    width: 200px;
    display:flex;
    flex-direction: column;
    background: white;
    position: absolute;
    top: 90px;
    left: -5px;
    padding: 14px 0px;
    visibility: hidden;
    opacity: 0;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
    z-index: 10;
    transition: all 300ms ease;
}
nav ul li:hover ul{
    visibility: visible;
    opacity: 1;
    top: 70px;
}
nav ul li ul::before{
    content:'' ;
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 12px solid white;
    position: absolute;
    top: -12px;
    left: 20px;
    ;
}
nav ul li ul li a{
    display: block;
    color: #0099E9;
    padding: 6px;
    padding-left: 14px;
    margin-top: 10px;
    font-size: 14px;
    text-transform: uppercase;
    transition: all 300ms ease;
   
}
nav ul li ul li a:hover{
    background: #0074c7;
    color: #fff;
    transform: scale(1.1);
    margin-left: 30px;
    font-size: 14px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
}

img{
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
}

/*ARTICULOS*/
.css img{
    float: right;
    margin-right: 20px;
    margin-bottom: 20px;
    
}
li{
    font-size: 22px;
}
p{
    font-size: 22px;
}

strong {
    font-size: 22px;
}

main{
    background: #e3e3e3;
    padding: 40px 20px;
    margin-top: 0px;

}
article{
     max-width: 1200px;
     margin: 20px auto;
     padding: 40px;
     background: #fff;
     border-radius: 30px;

}
article p{
    margin-top: 25px;
    font-size: 22px;
    font-weight: 300;
}

h1{
    margin-bottom: 30px;
    font-size: 2.5em;
    text-decoration: underline;
    
}
/*ELEMENTOS RESPONSIVOS*/
.icon__menu{
    font-size: 26px;
    color: white;
    cursor: pointer;
    width: 28px;
    height: 100%;
    display: none;
    align-items: center;
}
#laber__check{
    width: 26px;
    height: 100%;
    display: none;
}
#check__menu{
    display: none;
}
/*BOTONES*/
.boton{
    display: flex;
    align-items: right;
    justify-content: right;
    padding: 0px 1460px;
    width: 1500px;
    transform: translateY(-260%);

}

.btn-1{
    position: relative;
    display: inline-block;
    background-color: #023877;
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    align-content: right;
    align-items: right;
    margin: 10px;
    letter-spacing: .1em;
}
.btn-1:hover{
    color:aqua;
    letter-spacing: .20em;
    text-shadow: 0 0 5px #00eeff;
    
    
}
.btn-2{
    position: relative;
    display: inline-block;
    background-color: #023877;
    color: white;
    padding: 10px 10px;
    text-decoration: none;
    align-content: right;
    align-items: right;
    margin: 10px;
    letter-spacing: .1em;
   
}
.btn-2:hover{
    color:aqua;
    letter-spacing: .20em;
    text-shadow: 0 0 5px #00eeff;
}
/*------footer------*/
footer{
    width: 100%;
    height: 130px;
    background-color: black;
}
footer h2{
    color: white;
    text-align: center;
}
.redes{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    transform: translateX(%);
    
    
}
footer p{
    color: white;
    text-align: center;
    margin-top: px;
}
footer .imagen{
    transform: translateX(38%);
    
}


@media screen and (max-width: 720px) {
    .search input{
        display: none;
    }
    .header__superior{
        padding: px;
    }
    .logo img{
        width: 200px;
    }
    img{
        width: 300px;
    }
    nav > ul{
        flex-direction: column;
        background-color: #023877;
        position: fixed;
        left: 8px;
        top: 210px;
        width: 100%;
        height: 0px;
        transition: all 300ms ease;
        z-index: 100;
        opacity: 0;
        visibility: hidden;

    }
    nav > ul > li > a:hover{
        transform: scale(1);

    }
    nav ul li ul{
        left: 90px;
    }
    nav > ul > li:hover ul{
        top: 50px;
   }

   nav > ul > li:first-child a{
    background-position: 50px;
    }

   #selected{
    transform:scale(1);
   }
   #laber__check{
    display: block;
   }
   .icon__menu{
    display: flex;
   }

   #check__menu:checked ~ nav > ul{
    height: 300px;
    visibility: visible;
    opacity: 1;

   }
   
   .redes{
   display: none;
   
   
   }
   footer{
    height: 100px;
    width: auto;
 

   }
   footer .imagen{
    display: none;
   }
 .boton{
    display: none;
 }
 img{
    width: 220px;
 }
}




